<form action="/subcategory/createOrUpdate" method="POST">
    <input type="hidden" name="id" value="">
  
    <label>Select Category</label>
    <select name="categoryId" required>
        <option value=""></option>
    </select>
  
    <label>Sub-Category Name</label>
    <input type="text" name="name" value="" required>
  
    <button type="submit" class="btn btn-primary btn-sm">Add</button>
  </form>
  
  <!-- Table view for sub-categories -->
  